body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#display {
    width: 70%;
    min-height: 70px;
    border: solid 3px #c3afaf;
    padding: 10px;
}

#keyboard {
    display: block;
    width: 70%;
    border: solid 3px gray;
    padding: 10px;
    background-color: #fffdf7;
}

#row_1 {
    display: flex;
}

#row_2 {
    display: flex;
}

#row_3 {
    display: flex;
}

#row_4 {
    display: flex;
}

#row_5 {
    display: flex;
}

.keyboard_button {
    height: 40px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    background: linear-gradient(to top, #feffc4, #f3e4e4);
    box-shadow: -1px 0px rgb(218, 218, 217),
                -1px 1px rgb(234, 233, 223),
                -2px 1px rgb(220, 219, 212),
                -2px 2px rgb(234, 234, 230),
                -3px 2px rgb(199, 198, 185)
}

.keyboard_button:hover {
    background: linear-gradient(to top, #fafc98, #eeb7b7);
    cursor: pointer;
}

.additional-char {
    color: darkred;;
    min-width: 15px;
}

.main-char {
    color: darkred;
    min-width: 15px;
}

.hidden {
    display: none;
}

#backspace {
    flex-grow: 1;
}

#tab {
    flex-grow: 0.6;
}

#delete {
    flex-grow: 1;
}

#capsLock {
    flex-grow: 0.6;
}

#enter {
    flex-grow: 2.3;
}

#shiftLeft {
    flex-grow: 1.3;
}

#arrowUp {
    flex-grow: 0.98;
}

#shiftRight {
    flex-grow: 2.1;
}

#ctrlLeft {
    flex-grow: 1;
}

#win {
    flex-grow: 1;
}

#altLeft {
    flex-grow: 1;
}

#space {
    flex-grow: 10;
}

#altRight {
    flex-grow: 1;
}

#ctrlRight {
    flex-grow: 1;
}

#arrowRight {
    flex-grow: 1;
}

#arrowDown {
    flex-grow: 1;
}

#arrowRight {
    flex-grow: 1;
}

.active {
    background: #e4c5b4 !important;
}

.press {
    background: #e4c5b4 !important;
}

.active-ctrl {
    background: #e4c5b4 !important;
}

.active-alt {
    background: #e4c5b4 !important;
}